.game {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 3s, fadeIn 2s;
}

.game.fade {
  animation: fade 3s;
}

.syllable {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  
  font-size: 2.5em;
}

.pictures {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  
  margin-bottom: 30px;
}

.pictures img {
  cursor: pointer;

  width: 200px;
}

.meio {
  padding: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.microfone {
  height: 100px;
  margin: -5px;
}
.button {
  display: none;
}
.button-visible {
  display: block;
}
.Congrats {
  position : absolute;
  background-color: transparent;
  z-index: 3;
  top: 46%;
  left: 46%;
}
.Complete {
  position : absolute;
  background-color: transparent;
  z-index: 3;
  left: 42.5%;
}
.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.star {
  display: none;
}

